<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GALLERY</title>
    <link href="../static/css/gallery.css" rel="stylesheet">
  </head>
  <nav>
  <a href="/">HOME</a>
  <a href="upload">UPLOAD</a>
  <a href="gallery">GALLERY</a>
  <a href="login">LOGIN</a>
  <a href="logout">LOGOUT</a>
  <div id="indicator"></div>
</nav>
  <body>
    <div class="file-grid">
        {% for file in files %}
            <div class="file-card">
                {% if file.ext in ['png', 'jpg', 'jpeg', 'gif'] %}
                  <img src="{{ file.path }}" alt="{{ file.name }}">
                {% elif file.ext in ['mp4', 'mov'] %}
                  <img src="{{ file.thumbnail }}" alt="{{ file.name }}">
                {% else %}
                  <img class="default_icon" src="{{ url_for('static', filename='icons/default_icon.png') }}" alt="File icon">
                {% endif %}
                <p>{{ file.name }}</p>
                <p>{{ file.size }}</p>
                <p> <a href="{{ file.path }}" target="_blank">Download</a>
            </div>
                {% else %}
                  <p id="alt-text">No files found.</p>
            <!-- <p>{{ test() }} </p> -->
        {% endfor %}
    </div>
  </body>
</html>
