<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0, minimum-scale=0"> 
    <title>Glut | Login</title>
    <link rel="stylesheet" href="../static/css/login.css" />
    <nav>
      <a href="/">HOME</a>
      <a href="upload">UPLOAD</a>
      <a href="gallery">GALLERY</a>
      <a href="login">LOGIN</a>
      <a href="logout">LOGOUT</a>
      <div id="indicator"></div>
    </nav>
  </head>
  <body>
    <div class="center">
      <h1>Login</h1>
      <form method="post">
        <div class="txt_field">
          <input type="text" name="username" required />
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input type="password" name="password" required />
          <span></span>
          <label>Password</label>
        </div>
        <input type="submit" value="Login" />
      </form>
    </div>
  </body>
</html>



