<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Flask Test</title>
</head>


<nav>
  <a href="/">HOME</a>
  <a href="upload">UPLOAD</a>
  <div id="indicator"></div>
</nav>

<body>
    THIS IS THE UPLOAD PAGE
      <!-- <script src="../static/js/main.js" type="module"></script> -->
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type = "file" name = "myfile" accept = "*">
      <button type="submit">SUBMIT</button>
    </form>
</body>
</html>
